body {background-color:#E6E7E8;}

header {background-color: #081D3E;
		}


.logo {padding-left:0;}


.paragraph {font-family: 'PT Sans', sans-serif;
	color: #58595B;
line-height:1.5em;
background-color:white;
padding:2em;
box-shadow: 10px 10px 5px #888888;}

footer {font-family: 'PT Sans', sans-serif;
		font-size:.75em;
		color: white;
		background-color:#A6A8AB;
		padding:0;
	}

footer ul {padding-left:0;
		padding-top:10px;}

.cycle {padding-left:0px;
		padding-right:0px;
		padding-top:1em;}

.menu li {
	list-style-type: none;
		margin: 0;
		padding: 0;
		color:white;
		text-decoration:none;

		}
.partners {padding-left:0;
padding-bottom:3em;}

footer li {
	list-style-type:none;
	}
.active {color:#CA992C;}
.contact li {list-style-type:none;} 

p {font-family: 'PT Sans', sans-serif;
color: #58595B;
padding-left:10px;}

h1 {font-family: 'Oswald', sans-serif;
color:#CA992C;}

.color h1 {color:#081D3E;}

h2 {color:#091E3D;
	font-family: 'PT Sans', sans-serif;
	font-weight:bold;
	font-size:30px;}

h5 {color:#355B8E;
	font-weight:bold;
font-family: 'PT Sans', sans-serif}

h3 {color:#CA992C;
	font-family: 'PT Sans', sans-serif;
	font-weight:bold;
}

.bar {background-color:gray;
height:1em;
padding:0;

}

.item a:hover {color:none;}

.item a {background-color:none !important;}

.navbar-nav li:hover {background-color:none;}

.home_info {
    background-color: #355B8E;
	margin-bottom:50%;
	padding:0;
}

.services {background-color:white;
box-shadow: 10px 10px 5px #888888;}

.contact {background-color:white;
box-shadow: 10px 10px 5px #888888;
padding-bottom:20px;
margin-bottom:40px;
width:100%;
padding:15px;}

.list {background-color:white;
box-shadow: 10px 10px 5px #888888;
padding:10px;
margin-bottom:30px;}

.list ul {color:#58595B;
	font-family: 'PT Sans', sans-serif;

	}
.list p {background-color:none;}

.services {margin-bottom:30px;}

.home_info h6 {font-size:1em;}


h6 {color:white;
font-family: 'PT Sans', sans-serif;
line-height:1.5em;
}


.services {font-family: 'PT Sans', sans-serif;
	color: #58595B;
line-height:20px;}


}

.list ul, ol {font-family: 'PT Sans', sans-serif;
	color: #58595B;
line-height:20px;}


.icon-bar {background-color:white;}

.aboutus {margin-bottom:30px;}


.home_info {padding:1em;}


/*tablet*/

@media (min-width: 786px) {

	.home_info {background-color:transparent;
 	margin-bottom: 20px;
	padding:3%;}

	.home_info h6 {
	color:#58595B;}

 .partners img {padding:0;}





	}
/*desktop*/

@media (min-width:992px) {

	.menu li {
	list-style-type: none;
		margin: 0;
		padding: 0;
		float:right;
		z-index:10;
		color:white;
		text-decoration:none;
		}




.home_info {background-color:transparent;
 	margin-bottom: 20px;
	padding:3%;

}


h6 {color:#58595B;
font-family: 'PT Sans', sans-serif;
font-size:14px;
}


nav {float:right;}

.cycle img {margin-right:0;
			padding-bottom:10%;}



.partners ul {list-style-type:none;
float:left;}

 .partners li {display:inline;
	float:right;}

.video {margin-top:70px;}


p {
padding:35px;}

}

.navbar-nav {padding-top:30px;
background-image: url("menubg.png");}

.ifp {padding-top:3em;}